table, th, td {
    border: 1px solid black;
    text-align: center
}


.card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }

.card {
    background-color: #e2c9be;
    background-image: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%);

}


  
#jumbo2{
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);

    
}
button {
    background-color: #efecec;
    background-image: linear-gradient(315deg, #efecec 0%, #f9aba4 74%);
    
    margin-left: 25%;
    margin-right: 25%;
    width:50%;
}

.intro{
    
    background-color: #e2c9be;
    background-image: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%);
    width:100%;
    height: 50%
}


table {
    background-color: transparent;
}



